body {
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  background: url('/images/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  max-width: 700px;
  background-color: #ffffff;
  padding: 0 20px 20px 20px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.title {
  color: #444;
  font-size: 4em;
  font-family: Georgia, Times, "Times New Roman", serif;
  padding-bottom: 20px;
}

a {
  color: #6EB654;
}

.section {
  color: #444;
  padding-top: 10px;
  font-family: Georgia, Times, "Times New Roman", serif;
}

.avatar {
  size: 10px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

#contact {
}

.btn-contact {
  border-style: none;
  background-color: #86C270; 
}

.btn-contact:hover {
  background-color: #6EB654; 
}

.btn-contact a {
  color: #555;
  font-weight: lighter;
}

.btn-contact a:hover {
  text-decoration: none;
}
