body {
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
}

.container {
  max-width: 800px;
}

.title {
  font-size: 4em;
  font-family: Georgia, Times, "Times New Roman", serif;
  padding-bottom: 20px;
}

.section {
  padding-top: 10px;
  font-family: Georgia, Times, "Times New Roman", serif;
}
