<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.name }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

      <div class="container">
        <div class="header">
          <h1 class="title">{{ page.title }} <img class="avatar" src="http://www.gravatar.com/avatar/099c6c3a8010e978993611900370e943.png" /></h1>
        </div>
        
        <div class="content">
          {{ content }}
        </div>
      </div>

    </body>
</html>
